# Mock 모드
EXPO_PUBLIC_USE_MOCK_AUTH=false # mock auth (로그인/회원가입 API 우회)
EXPO_PUBLIC_USE_MOCK_MODE=false # mock data (온보딩 등 데이터 서비스 우회)
EXPO_PUBLIC_MOCK_NO_USER=false  # mock 모드에서 유저 프로필 없이 실행

# Backend URL
EXPO_PUBLIC_BACKEND_URL=<backend-api-base-url>

# KAKAO_PLATFORM_KEY
EXPO_PUBLIC_KAKAO_JS_KEY=SDK_JS_KEY
